html, body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    background: url('/static/images/crossword.png');
}
.title {
    font-family: "Cinzel Decorative", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19pt;
    color: #000;
    text-shadow: #76A2B8 0px 1px 1px;
}
#navbar {
    /*background-color: #76A2B8;*/
    /*background-color: #8CBCD3;*/
    background-color: #FDFDFD;
    border-bottom: 1px solid #000;
}
#navbar-section ul li a {
    background-color: #FDFDFD;
    border-bottom: 1px solid #000;
    color: #000;
    height: 45px;
    font-size: 12pt; 
}
#navbar-section ul li a:hover {
    /*background-color: #95CAE5;*/
    background-color: #D5EAF4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#splash {
    font-family: "Cinzel Decorative", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 55pt;
    text-align: center;
    margin: 0 10px;
}
.splashbox {
    margin: 15px 0 25px 0 !important;
    line-height: 46pt;
    padding: 25px 0;
    /*background-color: #9DD0E9;*/
}
#main-panel {
    background-color: #FDFDFD;
    border: 1px solid #ccc;
}
.vertical-spacer-25 {
    clear: both;
    width: 100%;
    height: 25px;
}
.padding-top-15 {
    padding-top: 15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.centered {
    text-align: center;
    margin: 0 auto;
}
.plain {
    list-style-type: none;
}
.flush-left {
    margin-left: 0;
}

.table-banner {
    text-align: center;
    margin-top: -5px;
    font-family: "Cinzel Decorative";
}
.resolved {
    display: none;
}

#modal-ok-box {
    display: none;
}
#modal-ok-button {
    margin-bottom: 0;
}

.tally {
    transition: all 0.15s ease-in;
    cursor: pointer;
}
.tally:hover {
    background-color: #CEECF5;
}

#review-display {
    display: none;
}
.bounded {
    height: 27px;
    padding: 0 0 0 10px;
    margin: 0;
    width: auto;
}
.emojis {
    max-width: 225px;
    width: 50%;
}
.commentbox {
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
}
.commenttext {
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
.clear {
    clear: both;
}