html, body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vertical-spacer-25 {
    clear: both;
    width: 100%;
    height: 25px;
}
.padding-top-15 {
    padding-top: 15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.centered {
    text-align: center;
    margin: 0 auto;
}
.plain {
    list-style-type: none;
}
.report-body {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 15px;
}
.review-entry {
    display: none;
}
