html, body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title {
    font-family: "Poiret One", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#splash {
    font-family: "Poiret One", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 55pt;
    text-align: center;
}
#main-panel {
    background-color: #FFF;
}
.vertical-spacer-25 {
    clear: both;
    width: 100%;
    height: 25px;
}
.padding-top-15 {
    padding-top: 15px;
}
.margin-top-15 {
    margin-top: 15px;
}
.centered {
    text-align: center;
    margin: 0 auto;
}
.plain {
    list-style-type: none;
}
.flush-left {
    margin-left: 0;
}

#modal-ok-box {
    display: none;
}
#modal-ok-button {
    margin-bottom: 0;
}

.tally {
    transition: all 0.15s ease-in;
    cursor: pointer;
}
.tally:hover {
    background-color: #CEECF5;
}

#review-display {
    display: none;
}