{% extends "index.html" %}
{% block page %}<script>window.page = "question";</script>{% endblock %}
{% block body %}
  <div id="question-block">
    <div class="vertical-spacer-30"></div>
    <div class="row">
      <div class="large-12 columns">
        <div class="light-gray-box">
          <div class="row">
            <div class="large-12 columns">
              <h4>Submit question for vote:</h4>
            </div>
          </div>
          <form action="" method="POST" id="new-question">
            <input type="hidden" id="test" name="test" value="test" />
  ​          <textarea id="question-text" name="question-text" rows="20" cols="70" placeholder="Enter your question here" value="{{ request.form.question }}" required></textarea>
            <button type="submit" class="button small" id="question">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
