<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-migrate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/placeholders.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation/foundation.dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation/foundation.topbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation/foundation.tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/arbiter.js') }}"></script>